/* custom properties */
:root {
    --color-texto-claro: white;
    --color-texto-oscuro: rgb(93, 95, 121);
    --color-azul: rgb(101, 157, 189);
    --color-azul-transparente: rgba(101, 157, 189, 0.8);
    --color-beige: rgb(239, 213, 183);
    --color-marron: rgb(188, 152, 106);
    --color-amarillo: rgb(251, 238, 193);
}

/*
Responsive breakpoints for viewports:
    Pequeño ( < 720px < ) Mediano ( < 1420px < ) Grande
*/

/* estilos generales */
body {
    font-family: Inter, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    color: var(--color-texto-oscuro);
}

a {
    color: var(--color-beige);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 900;
}

h1 {
    font-size: 46px;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: left;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

figure {
    margin: 0 auto;
    max-width: 900px;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main button {
    text-transform: uppercase;
    background-color: var(--color-amarillo);
    border: 1px solid var(--color-marron);
    color: var(--color-texto-oscuro);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: inherit;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}

main button:hover,
main button:focus {
    border-color: var(--color-amarillo);
    color: var(--color-amarillo);
    background-color: var(--color-marron);
    border-radius: 15px;
}


.pequeno {
    font-size: 14px;
}

/* cabecera */
header {
    width: 100%;
    background-color: var(--color-azul);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

header .logo {
    font-size: 46px;
    font-family: 'Passion One', Arial, sans-serif;
    letter-spacing: 6px;
    margin: 20px 0;
    border-bottom: 6px dotted var(--color-beige);
}

header .logo img {
    height: 60px;
    width: 60px;
}

#portada a:hover,
header a:hover {
    text-decoration: none;
}

/* pie */
footer {
    width: 100%;
    background-color: var(--color-azul);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--color-texto-claro);
}

footer p {
    margin: 5px 0;
}

footer .logo {
    margin: 20px 0;
    padding-top: 10px;
    border-top: 6px dotted var(--color-beige);
}

/* main */
main {
    padding: 40px 0;
    margin: 0 auto;
}

main>section {
    margin: 0 15px 50px 15px;
}

main img {
    max-width: 100%;
    height: auto;
    margin: 5px 0 10px 0;
}

main iframe {
    margin: 5px 0 10px 0;
}

main p,
main li {
    line-height: 26px;
}

main a {
    color: var(--color-marron);
}

@media (min-width: 720px) {
    main {
        width: 90%;
        max-width: 1024px;
    }
}

@media (min-width: 1420px) {
    main {
        width: 1288px;
        max-width: none;
    }
}

/* navegación */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin-bottom: 10px;
    font-weight: 900;
    color: var(--color-beige);
    letter-spacing: 2px;
}

nav li:last-child {
    margin-bottom: 0;
}

nav a {
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: initial;
    color: var(--color-beige);
}

nav a:hover {
    background-color: var(--color-marron);
}

header nav li {
    font-size: 24px;
}

footer nav li {
    font-size: 16px;
}

footer nav {
    margin-bottom: 10px;
}

@media (min-width: 720px) {
    nav ul {
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    nav li {
        margin-bottom: 0;
    }

    nav li::after {
        content: "·";
        margin: 0 8px;
    }

    nav li:last-child::after {
        content: none;
        margin: 0;
    }
}


/* específico index.html */
#portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img/portada.jpg");
    background-position: center;
    background-size: cover;
    color: var(--color-texto-claro);
}

#portada main {
    text-align: center;
    background-color: var(--color-azul-transparente);
    padding: 20px;
    max-width: 80%;
}

.clip {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.balls-container {
    height: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.balls-container .ball-animation:nth-child(1) {
    animation-delay: 0s;
}

.balls-container .ball-animation:nth-child(2) {
    animation-delay: 0.2s;
}

.balls-container .ball-animation:nth-child(3) {
    animation-delay: 0.4s;
}

.balls-container .ball-animation:nth-child(4) {
    animation-delay: 0.6s;
}

.balls-container .ball-animation:nth-child(5) {
    animation-delay: 0.8s;
}

.ball-animation {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-beige);
    margin: 0 10px;
    animation-duration: 1s;
    animation-name: pulsation;
    animation-iteration-count: infinite;
}

@keyframes pulsation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 720px) {
    #portada main {
        max-width: 570px;
    }
}


/* específico categoria.html */
#categoria .flex-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul#lista-enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 40px;
}

#lista-enlaces li:not(:first-child)::before {
    content: "|";
    margin: 0 8px;
    color: var(--color-marron);
    font-size: 12px;
    font-weight: normal;
}

#categoria .flex-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto 20px auto;
}

#categoria .info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 10px;
    align-items: flex-start;
}

#categoria .flex-card p {
    margin: 0;
}

#categoria .numero {
    color: var(--color-beige);
    font-size: 54px;
    font-weight: 800;
    line-height: normal;
}

#categoria .mediano {
    font-weight: 800;
    font-size: 14px;
}

#categoria .flex-card img {
    max-width: 100%;
    height: auto;
    margin: 5px 0 10px 0;
}

#categoria .flex-card .descripcion {
    font-size: 15px;
}

#categoria .flex-card a {
    font-size: 14px;
}

@media (min-width: 720px) {
    #categoria .flex-card {
        flex-wrap: nowrap;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;
        margin-bottom: 40px;
        max-width: none;
    }

    #categoria .info {
        flex: 1;
        flex-direction: column;
    }

    #categoria h2 {
        font-size: 18px;
    }

    #categoria .imagen {
        flex: 1;
    }

    #categoria .mas-info {
        flex: 2;
    }

}

@media (min-width: 1420px) {
    #categoria .flex-section {
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: start;
    }

    #categoria ul {
        flex-direction: column;
        align-items: start;
        width: 300px;
    }

    #categoria li {
        margin-bottom: 7px;
    }

    #categoria li:not(:first-child)::before {
        content: none;
    }

    #categoria .info>* {
        padding-left: 50px;
    }

    #categoria h2 {
        font-size: 28px;
    }
}

/* específico detalle*.html */
.lista-elementos li {
    margin-left: 30px;
}

.lista-elementos li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 15px;
    margin-right: 10px;
    background-color: var(--color-amarillo);
}

/* específico enlaces.html */
dt {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}

dt::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 15px;
    margin-right: 10px;
    background-color: var(--color-amarillo);
}

dd {
    font-size: 14px;
    margin-left: 30px;
    color: var(--text-color);
}

dd::before {
    content: "·";
    margin-right: 5px;
}